<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.cafein_app">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="카페인"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAFEIN_APP"
        android:usesCleartextTraffic="true"
            >

        <!--Splash Activity-->
        <!-- 스플래쉬 액티비티 때문에 OriginActivity에 있던 intent-filter부분을 옮겨줌 -->
        <!-- android:exported 값중 true는 다른앱과 통신할때, 애뮬레이터 사용시, false는 다른앱과 통신 필요없을때 -->
        <activity
                android:name=".SplashActivity"
                android:exported="true"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
                android:name=".OriginActivity"
                android:exported="true">
        </activity>
        <!-- 추가 액티비티 -->
        <activity
                android:name=".LoginActivity"
                android:label="Login" />
        <activity
                android:name=".LikeCafeActivity"
                android:exported="false"/>
        <activity
            android:name=".MyInfoChangeActivity"
            android:exported="true" />

        <activity
                android:name=".SearchActivity"
                android:exported="true"/>


        <activity
                android:name=".ResultActivity"
                android:exported="true"/>
        <activity
                android:name=".HomeActivity"
                android:label="Home"/>
        <activity
                android:name=".BoardFragmentActivity"
                android:label="POST"/>
        <activity
            android:name="signuppack.SignupActivity"
            android:exported="true"/>
        <activity
                android:name="signuppack.SurveyActivity"
                android:label="Page"/>
        <activity
                android:name=".ReviewWritingActivity"
                android:label="Review"/>

    </application>

</manifest>